.navbar-toggler:focus {
    outline: 0;
}
.navbar-nav > .active {
    color : white!important;
}
.navbar-nav > .active a{
  color : white;
}
.nav-item > a:hover {
    color : white!important;
    text-decoration: underline;
}
ul li{
  list-style:none;
  margin: 10px
}

.navbar-custom {
  background-color: white;
}

.body_background{
  background-color: white;
}

.card-header-orange{
  color: #159A92 !important;
}
.card-header-white{
  color: white !important;
}

.card-img-overlay {
  display: block;
  border-radius: 6px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-width: 1 1px;
}

footer{
  height:20px;
  margin-top:auto; 
}
#stickyheaders{
  -webkit-transition: transform 0.34s ease;
  transition : transform 0.34s ease;
  }
  .headerup{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    height: 70px;
    box-shadow: none;
    transform: translateY(-70px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; /*adjust this value to the height of your header*/
  }
  .headerdown{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    height: 70px;
    box-shadow: none;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .owl-carousel span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #868e96 !important;
    display:block;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.owl-carousel .active span {
  width:10px;
  height:10px;
  margin:5px 7px;
  background: #1b1b1b !important;
  display:block;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #159A92;
}

.videoformatting{
  height: 340px;
  width: 560px;
}

@media (max-width: 450px) {
  .videoformatting{
    height: 315px;
    width: 374px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 50%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: #004525;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #004525;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #004525;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #004525;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #004525;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #004525;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #004525;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #004525;
}
input[type=range]:focus::-ms-fill-upper {
  background: #004525;
}