.navbar-toggler:focus {
    outline: 0;
}
.navbar-nav > .active {
    color : white!important;
}
.navbar-nav > .active a{
  color : white;
}
.nav-item > a:hover {
    color : white!important;
    text-decoration: underline;
}
ul li{
  list-style:none;
  margin: 10px
}

.navbar-custom {
  background-color: white;
}

.body_background{
  background-color: white;
}

.card-header-orange{
  color: #159A92 !important;
}
.card-header-white{
  color: white !important;
}

.card-img-overlay {
  display: block;
  border-radius: 6px;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-width: 1 1px;
}

footer{
  height:20px;
  margin-top:auto; 
}
#stickyheaders{
  -webkit-transition: transform 0.34s ease;
  transition : transform 0.34s ease;
  }
  .headerup{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    height: 70px;
    box-shadow: none;
    transform: translateY(-70px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; /*adjust this value to the height of your header*/
  }
  .headerdown{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    height: 70px;
    box-shadow: none;
    transform: translateY(0px);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    padding: 0px 50px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }

  .owl-carousel span {
    width:10px;
    height:10px;
    margin:5px 7px;
    background: #868e96 !important;
    display:block;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
.owl-carousel .active span {
  width:10px;
  height:10px;
  margin:5px 7px;
  background: #1b1b1b !important;
  display:block;
  -webkit-transition:opacity 200ms ease;
  -moz-transition:opacity 200ms ease;
  -ms-transition:opacity 200ms ease;
  -o-transition:opacity 200ms ease;
  transition:opacity 200ms ease;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #159A92;
}

.videoformatting{
  height: 340px;
  width: 560px;
}

@media (max-width: 450px) {
  .videoformatting{
    height: 315px;
    width: 374px;
  }
}


.box-minmax {
  margin-top: 30px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #1b1b1b;
}
.box-minmax span:first-child {
  margin-left: 10px;
}
.range-slider {
  margin-top: 30vh;
}
.rs-range {
  margin-top: 29px;
  width: 70%;
  -webkit-appearance: none;
}
.rs-range:focus {
  outline: none;
}
.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #1b1b1b;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #1b1b1b;
  border-radius: 0px;
  border: 0px solid #010101;
}
.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #1b1b1b;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #1b1b1b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #1b1b1b;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 42px;
  width: 22px;
  border-radius: 22px;
  background: #1b1b1b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -20px;
}
.rs-range::-moz-focus-outer {
  border: 0;
}
.rs-label {
  position: relative;
  transform-origin: center center;
  display: block;
  width: 98px;
  height: 98px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 22px;
  box-sizing: border-box;
  border: 2px solid #1b1b1b;
  margin-top: 20px;
  margin-left: -38px;
  left: attr(value);
  color: #1b1b1b;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
}
.rs-label::after {
  display: block;
  font-size: 20px;
  letter-spacing: 0.07em;
  margin-top: -2px;
}
